# introduction to programming in python

# topics
 - print
 - variables
 - naming convention
 - operator

In [3]:
# print
# print function print the given values on the console
# we print integera without commas
print(100)

100

# types of values we can print
 - numaric values
    - whole numbers(integers) python(int)
      example: 1,3 5,100,162,7000,-3,-80
    - decimal numbers (decimal) python>>> (float)
    
 - alphabets
    - char/sentence/paragraph (string) python (str)
    example: "hello world"
    we can use single,double or triple qouts('',"",''''')
 
 - boolian values:
    true/false in python(True / False)
    
    
 - print function can perform with any type of value at a time
 - (,) is used as seprator
   
 - what all function do we can find it by pressing shift+tab
 - a docstring will tell all about function working

In [4]:
print(11)

11

In [5]:
print(500)

500

In [6]:
print("welcome to python")

welcome to python

In [7]:
print(22.44)

22.44

In [8]:
print(True)

True

In [9]:
print("182362652")

182362652

# Type funtion
 - it tells the type of values

In [14]:
type(2333)

int

In [11]:
type(True)

bool

In [12]:
type(2.5667)

float

In [13]:
type("hello")

str

In [ ]:
# use of seperator(sep) in print function
# we cake make seprator of our own choice

In [2]:
print(111, "sara", 2.33, True, sep="===")

111===sara===2.33===True

In [4]:
print(111, "sara", 2.33, True, sep=">>>")

111>>>sara>>>2.33>>>True

In [5]:
print(111, "sara", 2.33, True, sep="...")

111...sara...2.33...True

In [6]:
print(111, "sara", 2.33, True, sep="+++")

111+++sara+++2.33+++True

# Escape characters in python

In [ ]:
# use of end  end = \n

In [3]:
print("i am a student. \n i am learning python")

i am a student.
 i am learning python

In [7]:
# use of \t tab
print("i am a student.\ti am learning\tpython")

i am a student.	i am learning	python

In [ ]:
#use of \n

In [10]:
print("Muhammad Ali Jinnah\n born Mahomedali Jinnahbhai 25 December 1876 – 11 September 1948 was a barrister, politician and the founder of Pakistan.\n Jinnah served as the leader of the All-India Muslim League from 1913 until the inception of Pakistan on 14 August 1947,\n and then as the Dominion of Pakistan's first governor-general until his death.\n He is revered in Pakistan as the Quaid-e-Azam Great Leader and Baba-e-Qaum Father of the Nation.\n His birthday is observed as a national holiday in Pakistan.")

Muhammad Ali Jinnah
 born Mahomedali Jinnahbhai 25 December 1876 – 11 September 1948 was a barrister, politician and the founder of Pakistan.
 Jinnah served as the leader of the All-India Muslim League from 1913 until the inception of Pakistan on 14 August 1947,
 and then as the Dominion of Pakistan's first governor-general until his death.
 He is revered in Pakistan as the Quaid-e-Azam Great Leader and Baba-e-Qaum Father of the Nation.
 His birthday is observed as a national holiday in Pakistan.

In [12]:
# https://www.w3schools.com

# variables in python
  - variable s also called identifiers
  - variables are containers / reservoirs to store values
  - it has size like 8bit, 16bit, 28bit, 64bit

In [13]:
marks = 90
# this mark is variable
# = is assingment operator
# 90  is an integer value
# integer value 90 is assignd to a variable marks

In [14]:
print(marks)

90

In [15]:
# to check the address of any commnad we use id function
id(marks)

2794480864272

In [16]:
type(marks)

int

In [18]:
name = "hassaan"

In [19]:
print(name)

'hassaan'

In [21]:
name + "mehmood" # + sign concatenate the string but add the number or integer

'hassaanmehmood'

In [22]:
marks + 10 # it does not effect the memory. it will rwmain 90

100

In [23]:
marks - 20

70

In [24]:
marks1 = marks + 10 # this way we can change the meomry value

In [25]:
marks1

100

In [26]:
per = 78.6

In [27]:
marks + per
# 100 + 78.6

168.6

In [28]:
ispaid = True

In [29]:
ispaid

True

In [30]:
type(ispaid)

bool

# variable naming convention
  - logically be a true representation of your value
  - illegal: 
          - any word that is used in python like for,while, else, cless
            or reserve words/keywords
  - variable name will not start with a number
  - special characters can not be use in variable names:
    example @, -, *, #, $, and so on...

In [ ]:
# variable names that are best
# first_bool_tital
# firstBookTital

# operators
 - (+) add
 - (+) concatenate
 - (-) subtract
 - (*) multiply
 - (/) divide (float division)
 - (//)divide (integer division)
 - (%) modulus ( remainder in division)
 -  > greater than
 -  < less than
 -  <= less than equal
 -  >= greater than equal
 -  == equal
 -  != not equal

In [31]:
3+4

7

In [32]:
5-3

2

In [33]:
3*3

9

In [34]:
4/2  # this division gives the ansewr in float

2.0

In [35]:
6//2  # this divsion gives the answer in integer

3

In [36]:
15 % 4  # it return the remainder

3

In [37]:
12>6

True

In [39]:
1<0

False

In [40]:
2!=2

False

In [42]:
30 ==30

True