# conditional statements
 - type casting
 - user input
 - string concatenation
 - strint formation >> (format),f
 - string functions 
 - if statement
 - else statement
 - elif statement
 - multiple if statements
 - nested if statements

# string concatination
  - joining of two strings together

In [1]:
firstname = "abdul"
lastname = "basit"

In [2]:
firstname + lastname

'abdulbasit'

In [3]:
"pakistan" + "zindabad"

'pakistanzindabad'

In [4]:
# a string and integer could not concatenate
# in that case we have to do type casting
"irha" + str(22)

'irha22'

In [7]:
# when we concatenate two string or output from input values
# year of birth although int value 
# but due to cosole input it will be assign as string value
name = input("enter your name")
y_o_b = input("enter your year of birth")
print("your name is  "+name+"  and your year of birth is  "+  y_o_b)

enter your namehuzaifa
enter your year of birth2012
your name is  huzaifa  and your year of birth is  2012

In [8]:
student_name = input("enter your name")
student_age = input("enter your age")

enter your nameali
enter your age33

In [9]:
student_age + 10
# str     +   int

TypeError: can only concatenate str (not "int") to str

In [10]:
# whenever we take user output in integers we must have to convert int
# because in user output int value will return in string type
student_name = input("enter your name")
student_age = int(input("enter your age"))

enter your namehassaan
enter your age10

In [11]:
student_age + 10

20

In [12]:
student_age = int(input("enter your age"))

enter your age20.1

ValueError: invalid literal for int() with base 10: '20.1'

In [13]:
student_age = float(input("enter your age"))

enter your age20.5

In [15]:
# if we only want int output then we typecast it twice
student_age = int(float(input(" enter your age ")))

 enter your age 20.4

In [16]:
student_age

20

In [20]:
student_name = input("enter your name ")
student_age = int(float(input("enter your age")))
print("your name is  "+student_name+"  and your year of birth is  "+  student_age)
# this code does not work because student_age is in int form
# and str and int does not concatenate

enter your name hasim
enter your age10

TypeError: can only concatenate str (not "int") to str

In [1]:
student_name = input("enter your name ")
student_age = input("enter your age")
print("your name is  "+student_name+"  and your age is  "+  student_age)

enter your name hashim
enter your age10
your name is  hashim  and your year of birth is  10

# string formation
  - format(value1, value2, ...)
  - it is easier and simpler than concatenation
  - it does not need type casting

In [4]:
"sar{}".format("a")

'sara'

In [2]:
student_name = input("enter your name ")
student_age = input("enter your age ")
print("student name is {} and student age is {}".format(student_name, student_age))

# {} are the place holders

enter your name hashim
enter your age 5
student name is hashim and student age is 5

In [5]:
student_name = input("enter your name ")
student_age = input("enter your age ")
print("student name is {0} and student age is {1} and student {0} is an intelegent cuber at the age of {1}".format(student_name, student_age))    
# if we assign the index numbers                              0              1
# we can reutulize the same value again

enter your name huzaifa
enter your age 11
student name is huzaifa and student age is 11 and student huzaifa is an intelegent cuber at the age of 11

# string format by f

In [6]:
student_name = input("enter your name ")
student_age = input("enter your age ")
print(f"student name is {student_name} and student age is {student_age}")

enter your name hassaan
enter your age 10
student name is hassaan and student age is 10

# string
 - string behaviour
 - string is immuteable (unchangable)

In [2]:
institute = "PIAIC"

In [3]:
type(institute)

str

In [4]:
institute.capitalize()
# original string will not be changed
# value will not changed untill it will not reasign

'Piaic'

In [5]:
institute.lower()

'piaic'

In [6]:
institute.upper()

'PIAIC'

In [7]:
institute.count("I")

2

In [8]:
institute.center()

TypeError: center expected at least 1 argument, got 0

In [9]:
institute.find("a")
# -1 means not exist
# find function gives the index number

-1

In [10]:
institute.find("A")

2

In [11]:
institute.find('I',3 ) # find 'I' but start finding from index 3

3

In [13]:
institute.isalnum()# is alpha numaric

True

In [14]:
institute.isalpha()# is it alphabet

True

In [15]:
institute.isascii()# is it ascii character

True

In [16]:
institute.isdigit()# is it digit

False

In [ ]:
institute.

In [17]:
"2".isdigit()

True

In [18]:
" pakistan".lstrip()# it removes the spaces from left side of the string

'pakistan'

In [20]:
"pakistan ".rstrip()# to remove the space from right side

'pakistan'

In [21]:
" pakistan ".strip()# it removes the spaces from both sides

'pakistan'

In [22]:
# replace function
designation = "president"

In [23]:
designation.upper()

'PRESIDENT'

In [24]:
designation # upper function does not changed the orignal value
            # because string is immuteable

'president'

In [25]:
designation = designation.upper()

In [26]:
designation

'PRESIDENT'

In [27]:
designation.replace("P","p")# this function replace the specific value 
                            # which we have to mention

'pRESIDENT'

In [28]:
designation # orignal will remain same

'PRESIDENT'

In [29]:
school = "piaic"

In [31]:
id(school)

2875556029872

In [32]:
school.upper()

'PIAIC'